{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Password Reset Complete</title>
    <!-- Bootstrap -->
    <link rel="stylesheet" href="{% static 'account/dist/vendor/bootstrap-4.5.3/css/bootstrap.min.css' %}" type="text/css">
    <!-- Material design icons -->
    <link rel="stylesheet" href="{% static 'account/dist/icons/material-design-icons/css/mdi.min.css' %}" type="text/css">
    <!-- Google font -->
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap" rel="stylesheet">
    <!-- styles -->
    <link rel="stylesheet" href="{% static 'account/dist/css/style-11.min.css' %}" type="text/css">
</head>
<body>
<div class="form-cover" style="background: url('{% static 'account/dist/images/cover5.jpg' %}')">
        <div class="logo text-right">
        </div>
    </div>
    <div class="form-wrapper">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-4">
                    <div class="mb-4 text-center text-lg-left">
                        <h3 class="font-weight-bold mb-3">Congratulations!</h3>
                        <p class="text-muted">Your password has been set. You may go ahead and log in now.</p>
                    </div>
                    <div class="text-center text-lg-left">
                    <a class="btn btn-outline-primary" href="{% url 'account:login' %}">Sign in</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
<!-- Jquery -->
<script src="{% static 'account/dist/vendor/jquery.min.js' %}"></script>
<!-- Bootstrap -->
<script src="{% static 'account/dist/vendor/bootstrap-4.5.3/js/bootstrap.min.js' %}"></script>
</body>

</html>